head
  link(rel="stylesheet", href="/css/main.css", data-inline)
  link(rel="stylesheet", href="/css/bootstrap.css", data-inline)
body
  .row
    .col-md-3
    .col-md-6
      h2 Almost there!
      a.btn.btn-primary(href='https://smeni.mk:8080/landing/confirm/?' + token) Confirm
    .col-md-3