
head
  link(rel="stylesheet", href="/css/main.css", data-inline)
  link(rel="stylesheet", href="/css/bootstrap.css", data-inline)
body
  .row
    .col-md-3.brdr
      p.c-red Hi #{name},
    .col-md-6.brdr
      p Welcome to Mars, the red planet.
    .col-md-3.brdr
      button.btn Test
      button.btn.btn-primary Test
      button.btn.btn-danger Test