head
  link(rel="stylesheet", href="/css/main.css", data-inline)
  link(rel="stylesheet", href="/css/bootstrap.css", data-inline)
body
  .container-fluid(style='width:100%;padding:0px')
    .row(style='margin:0px')
      .text-center.col-lg-12.col-md-12.col-xl-12.col-xs-12.col-sm-12(style='padding:0px')
        img(src='https://image.ibb.co/hH5d68/addedasadoc.jpg', width='100%', style='padding:0px')
    .text-center(style='margin-top:3%')
      h4 You have been added as a doctor on our platform. Do your best!
      hr(style='background-color: skyblue; height: 2px; border: 0;')
      a.btn.btn-success(href='https://smeni.mk:8080/confirm/' + token type="button" style="margin-top:3%") Activate your account
    footer.footer.text-center(style='background-color:skyblue;padding:40px;margin-top:5%')
      div(style='margin-top:-6px')
        p(style='float:left;color:white;margin-bottom:0px') &copy; Moj psiholog 2018
        div(style='float:right;')
          a(href='http://facebook.com/mrmachovskimartin')
            i.fa.fa-facebook(aria-hidden='true') &nbsp;
          a(href='http://twitter.com/delamrmach')
            i.fa.fa-twitter(aria-hidden='true') &nbsp;
          a(href='http://googleplus.com/')
            i.fa.fa-google(aria-hidden='true') &nbsp;.container-fluid(style='width:100%;padding:0px')