head
  link(rel="stylesheet", href="/css/main.css", data-inline)
  link(rel="stylesheet", href="/css/bootstrap.css", data-inline)
body
  .container-fluid(style="width:100%;padding:0px")
    .row(style="padding:0px")
      .text-center.col-lg-12.col-md-12.col-xl-12.col-xs-12.col-sm-12(style="padding:0px")
        img(src="https://image.ibb.co/iWBbry/confirmemail.jpg" style="width:100%;padding:0px")
    .text-center(style="margin-top:3%")
      h4 You are all set!  You only need to confirm your email adress by clicking the button below!
      p Find your perfect online psychiatrist and start feeling great! We are here to help you!
      a.btn.btn-success(href='https://localhost:8080/confirm/' + token type="button" style="margin-top:3%") Confirm your email!
    footer.text-center.footer(style="background-color:skyblue;padding:10px;margin-top:5%")
      .row(style="margin-top:-6px")
        .col-lg-6.col-md-6.col-xl-6.col-xs-6.col-sm-6
          p &copy; Moj psiholog 2018
        .col-lg-6.col-md-6.col-xl-6.col-xs-6.col-sm-6(style="text-align:right;")
          a(href="http://google.com")
            i.fa.fa-facebook(aria-hidden="true") &nbsp;
          a(href="http://google.com")
            i.fa.fa-twitter(aria-hidden="true") &nbsp;
          a(href="http://google.com")
            i.fa.fa-google(aria-hidden="true") &nbsp;