head
  link(rel="stylesheet", href="/css/main.css", data-inline)
  link(rel="stylesheet", href="/css/bootstrap.css", data-inline)
body
  .container-fluid(style="width:100%;padding:0px")
    .row
      .text-center.col-lg-12.col-md-12.col-xl-12.col-xs-12.col-sm-12
        img(src="https://image.ibb.co/iWBbry/confirmemail.jpg" style="width:100%;padding:0px")
    .text-center(style="margin-top:3%")
      h4 You are all set!  You only need to confirm your email adress by clicking the button bellow!
      p Find your perfect online pshychiatrist and start feeling great! We are here to help you!
      a.btn.btn-success(href='https://localhost:8080/confirm/' + token type="button" style="margin-top:3%") Confirm your email!
    footer.footer.text-center(style="background-color:skyblue;padding:40px;margin-top:5%")
      p(style="float:left") &copy; Moj psiholog 2018
      div(style="float:right")
        a(href="http://facebook.com/mrmachovskimartin") Facebook
        a(href="http://twitter.com/delamrmach") Twitter
        a(href="http://googleplus.com") Google