head
  link(rel="stylesheet", href="/css/main.css", data-inline)
  link(rel="stylesheet", href="/css/bootstrap.css", data-inline)
body
  .container-fluid(style="width:100%;padding:0px")
    .row(style="padding:0px;")
      .text-center.col-lg-12.col-md-12.col-xl-12.col-xs-12.col-sm-12(style="padding:0px")
        img(src="https://image.ibb.co/gr8Gyd/welcomemail.jpg" style="width:100%;padding:0px")
    .text-center(style="margin-top:3%")
      h4 Welcome! Let's do it together!
      hr(style="background-color: skyblue; height: 2px; border: 0;")
      p(style="border-right:2px solid skyblue;border-left:2px solid skyblue;width:55%;margin:auto") Find your perfect online psychiatrist and start feeling great! We are here to help you!
      a.btn.btn-info.btn-lg(style="margin-top:3%" type="button") Find your psychiatrist!
    footer.text-center.footer(style="background-color:skyblue;padding:10px;margin-top:5%")
      .row(style="margin-top:-6px")
        .col-lg-6.col-md-6.col-xl-6.col-xs-6.col-sm-6
          p &copy; Moj psiholog 2018
        .col-lg-6.col-md-6.col-xl-6.col-xs-6.col-sm-6(style="text-align:right;")
          a(href="http://google.com")
            i.fa.fa-facebook(aria-hidden="true") &nbsp;
          a(href="http://google.com")
            i.fa.fa-twitter(aria-hidden="true") &nbsp;
          a(href="http://google.com")
            i.fa.fa-google(aria-hidden="true") &nbsp;